 <div class="blocks">
                    <img class="block_img" src="/Images/FOOD1.jpeg" width="100%" height="100%">
                    <div class="block_title">Mummy Ji ke Paranthe</div>
                    <div class="block_sub_title">North Indian</div>
                    <div class="rating">* 4.3</div>
                    <div class="delivery_time">.  19 MINS </div>
                    <div class="per_head">.  100 FOR TWO </div>
                    <div class="quickview">QUICK VIEW</div>
                    <form action="" method="post">
                    <button value="add">Add</button>
                    </form>
            </div>
            <div class="blocks">
                    <img class="block_img" src="/Images/FOOD4.jpeg" width="100%" height="100%">
                    <div class="block_title">Patli Kaki</div>
                    <div class="block_sub_title">North Indian, Street Food</div>
                    <div class="rating">* 4.3</div>
                    <div class="delivery_time">.  23 MINS </div>
                    <div class="per_head">.  150 FOR TWO </div>
                    <div class="quickview">QUICK VIEW</div>
            </div>
            <div class="blocks">
                    <img class="block_img" src="/Images/FOOD5.jpeg" width="100%" height="100%">
                    <div class="block_title">Gulab Jammun</div>
                    <div class="block_sub_title">Dessert</div>
                    <div class="rating">* 4.3</div>
                    <div class="delivery_time">.  23 MINS </div>
                    <div class="per_head">.  30 FOR TWO </div>
                    <div class="quickview">QUICK VIEW</div>
            </div>
            <div class="blocks">
                    <img class="block_img" src="/Images/FOOD6.jpeg" width="100%" height="100%">
                    <div class="block_title">Veg Thalli</div>
                    <div class="block_sub_title">North Indian, Desserts</div>
                    <div class="rating">* 4.3</div>
                    <div class="delivery_time">.  29 MINS </div>
                    <div class="per_head">.  200 FOR TWO </div>
                    <div class="quickview">QUICK VIEW</div>
            </div>
            <div class="blocks">
                    <img class="block_img" src="/Images/FOOD7.jpeg" width="100%" height="100%">
                    <div class="block_title">Aloo Puri</div>
                    <div class="block_sub_title">North Indian</div>
                    <div class="rating">* 4.3</div>
                    <div class="delivery_time">.  18 MINS </div>
                    <div class="per_head">.  110 FOR TWO </div>
                    <div class="quickview">QUICK VIEW</div>
            </div>
            <div class="blocks">
                    <img class="block_img" src="/Images/FOOD8.jpeg" width="100%" height="100%">
                    <div class="block_title">Panner Burji</div>
                    <div class="block_sub_title">North Indian</div>
                    <div class="rating">* 4.3</div>
                    <div class="delivery_time">.  26 MINS </div>
                    <div class="per_head">.  140 FOR TWO </div>
                    <div class="quickview">QUICK VIEW</div>
            </div>
            <div class="blocks">
                    <img class="block_img" src="/Images/FOOD9.jpeg" width="100%" height="100%">
                    <div class="block_title">Khichdi with curd</div>
                    <div class="block_sub_title">Healty Food, North Indian</div>
                    <div class="rating">* 4.3</div>
                    <div class="delivery_time">.  19 MINS </div>
                    <div class="per_head">.  150 FOR TWO </div>
                    <div class="quickview">QUICK VIEW</div>
            </div>
            <div class="blocks">
                    <img class="block_img" src="/Images/FOOD10.jpeg" width="100%" height="100%">
                    <div class="block_title">Fruit Chat</div>
                    <div class="block_sub_title">Healthy Food</div>
                    <div class="rating">* 4.3</div>
                    <div class="delivery_time">.  19 MINS </div>
                    <div class="per_head">.  150 FOR TWO </div>
                    <div class="quickview">QUICK VIEW</div>
            </div>