 <div class="blocks">
                    <img class="block_img" src="/Images/Tiffin1.jpg" width="100%" height="100%">
                    <div class="block_title">Masala Box</div>
                    <div class="block_sub_title">Daal,Rice,Sbji,Roti</div>
                    <div class="rating">* 4.3</div>
                    <div class="delivery_time">.  19 MINS </div>
                    <div class="per_head">.  100 FOR ONE MEAL </div>
                    <div class="quickview">QUICK VIEW</div>

            </div>
            <div class="blocks">
                    <img class="block_img" src="/Images/Tiffin2.jpg" width="100%" height="100%">
                    <div class="block_title">Oota Box</div>
                    <div class="block_sub_title">Poha,Omelette,Oats</div>
                    <div class="rating">* 4.1</div>
                    <div class="delivery_time">.  23 MINS </div>
                    <div class="per_head">.  150 FOR TWO MEAL </div>
                    <div class="quickview">QUICK VIEW</div>
            </div>
            <div class="blocks">
                    <img class="block_img" src="/Images/Tiffin3.jpg" width="100%" height="100%">
                    <div class="block_title">Pedal Pates</div>
                    <div class="block_sub_title">Cury,Rice,Roti,Sbji</div>
                    <div class="rating">* 3.9</div>
                    <div class="delivery_time">.  23 MINS </div>
                    <div class="per_head">.  200 FOR THREE MEAL </div>
                    <div class="quickview">QUICK VIEW</div>
            </div>
            <div class="blocks">
                    <img class="block_img" src="/Images/Tiffin4.jpg" width="100%" height="100%">
                    <div class="block_title">The Lunch Box</div>
                    <div class="block_sub_title">Mix veg,Roti,Raita</div>
                    <div class="rating">* 4.2</div>
                    <div class="delivery_time">.  29 MINS </div>
                    <div class="per_head">.  200 FOR TWO MEAL </div>
                    <div class="quickview">QUICK VIEW</div>
            </div>
            <div class="blocks">
                    <img class="block_img" src="/Images/Tiffin5.jpg" width="100%" height="100%">
                    <div class="block_title">Nutri Lunch</div>
                    <div class="block_sub_title">North Indian</div>
                    <div class="rating">* 4.3</div>
                    <div class="delivery_time">.  18 MINS </div>
                    <div class="per_head">.  110 FOR TWO MEALS </div>
                    <div class="quickview">QUICK VIEW</div>
            </div>
            <div class="blocks">
                    <img class="block_img" src="/Images/Tiffin6.jpg" width="100%" height="100%">
                    <div class="block_title">Soulfull Box</div>
                    <div class="block_sub_title">North Indian</div>
                    <div class="rating">* 4.3</div>
                    <div class="delivery_time">.  26 MINS </div>
                    <div class="per_head">.  70 FOR TWO MEAL</div>
                    <div class="quickview">QUICK VIEW</div>
            </div>
            <div class="blocks">
                    <img class="block_img" src="/Images/Tiffin7.jpg" width="100%" height="100%">
                    <div class="block_title">Mother 9 Tiffin</div>
                    <div class="block_sub_title">Healty Food, North Indian</div>
                    <div class="rating">* 4.3</div>
                    <div class="delivery_time">.  19 MINS </div>
                    <div class="per_head">.  200 FOR THREE MEALS</div>
                    <div class="quickview">QUICK VIEW</div>
            </div>
            <div class="blocks">
                    <img class="block_img" src="/Images/Tiffin8.jpg" width="100%" height="100%">
                    <div class="block_title">Foodatory</div>
                    <div class="block_sub_title">Healthy Food</div>
                    <div class="rating">* 4.3</div>
                    <div class="delivery_time">.  19 MINS </div>
                    <div class="per_head">.  150 FOR TWO MEALS</div>
                    <div class="quickview">QUICK VIEW</div>
            </div>