<html>
    <head>
        <link rel="stylesheet" href="/CSS/home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
           
    </head>
    <title></title>
    <body>
        {{>nav}}
                  
    </body>
</html>
