<html>
    <head>
        <link rel="stylesheet" href="/CSS/offer.css">
    </head>
    <title></title>
    <body>
        {{>nav}}
        {{!-- <div class="profile">
        <div class="profile_name"> Name :{{user}}</div>
        <div class="profile_email"> Phone :{{phone}}</div>
        <div class="profile_phone"> Email :{{email}}</div>
        </div> --}}

        <div class="offer_section">
            <img src="/Images/offer.webp" class="offer_img" width="260px" height="200px">
            <div class="offer_title">Hello , {{user}}</div>
            <div class="offer_sub_title">Order Delicious Hand Made Food Now!</div>
        </div>
    </body>
</html>